.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.avatar {
    width: 178px;
    height: 178px;
    display: block;
}

el-input{
    width: auto;
}

.demonstration{
    font-size: 12px;
}

label{
    font-weight: bold;
}

.imgSpan{
    font-size: 18px;
    text-align: center;
}

.block{
    margin: auto;
    text-align: center;
}

.submit{
    text-align: center;
}

.submit el-button{
    margin: 0 auto;

}

.important{
    color: crimson;
}

.unit{
    float: right;
    clear: left;
}

h2{
    text-align:center;
    color: #409EFF;
}

.warning{
    color: red;
}

